<!--
Name: Ashok Sasitharan 100745484, Jacky Yuan 100520106
Date: April 13 2021
File: footer.ejs
-->
<nav class="navbar fixed-bottom navbar-dark nav-color-blk">
    <div class="container-fluid">
      
    </div>
  </nav>