 <!--       
Name: Ashok Sasitharan 100745484, Jacky Yuan 100520106
Date: April 13 2021
File: contact.ejs
-->

        <div class="row justify-content-lg-center g-3">
          <h1 class="title">Contact</h1>
          <p>Email: asasitharan28@gmail.com</p>
          <p>Phone: 647-642-(4466)</p>
          <p><a href=" https://github.com/AshokSasi">GitHub</a></p>
          <p><a href=" https://www.linkedin.com/in/ashok-sasitharan/">LinkedIn</a></p>

     
         