<!--
Name: Ashok Sasitharan 100745484, Jacky Yuan 100520106
Date: April 13 2021
File: home.ejs
-->
<div class="mt-3">
  <h1 class="title">Hi, <br/>I'm Ashok Sasitharan </h1>
</div>

<p>
  Welcome to my website.
</p>
<p>Check out my other pages to learn more about me.</p>

