<!--
Name: Ashok Sasitharan 100745484
Date: April 13 2021
File: services.ejs
-->
<h1 class="title">My Skills</h1>
<div class="container px-4 py-5" id="icon-grid">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
      <div class="col d-flex align-items-start">
        <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#bootstrap"/></svg>
        <div>
          <div class="white-icons">
            <i class="fas fa-code fa-lg"></i>
          </div>
          <h4 class="fw-bold mb-0">Web Development</h4>
          <p>I like to create clean modern looking websites and learn new techniques along the way.</p>
          <p>Languages and frameworks that I can use:</p>
          <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>PHP</li>
            <li>Javascript</li>
            <li>Express</li>
            <li>Laravel</li>
          </ul>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div>
          <div class="white-icons">
            <i class="fas fa-database fa-lg"></i>
          </div>
          <h4 class="fw-bold mb-0">Databases</h4>
          <p>I am experienced in using and creating databases</p>
          <p>Softwares that I can use:</p>
          <ul>
            <li>MSSQL Server</li>
            <li>MySQL</li>
            <li>MongoDB</li>
            <li>PostgreSQL</li>
          </ul>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div>
          <div class="white-icons">
            <i class="fas fa-file-alt fa-lg"></i>
          </div>
          <h4 class="fw-bold mb-0">OOP</h4>
          <p>I have created many applications in various languages that utilize OOP</p>
          <p>Languages that I can use:</p>
          <ul>
            <li>C#</li>
            <li>C++</li>
            <li>Java</li>
            <li>Visual Basic</li>
          </ul>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <i class="fas fa-terminal fa-lg white-icons"></i>
        <div>
          <div class="white-icons">
            
          </div>
          <h4 class="fw-bold mb-0"> Mainframe Development</h4>
          <p>I am experienced with coding scripts in COBOL as well as executing JCL scripts and reading job logs in the mainframe terminal.</p>
        </div>
      </div>

    </div>
  </div>